{% extends 'base.html' %}

{% block title %}Create or Edit Dish{% endblock %}

{% block content %}
<h1>{% if dish %}Edit{% else %}Create{% endif %} Dish</h1>

<form method="POST">
    {% csrf_token %}
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{% if dish %}{{ dish.name }}{% endif %}" required>

    <div class="mbt-10px"></div>

    <label for="type">Type</label>
    <input type="text" id="type" name="type" value="{% if dish %}{{ dish.type }}{% endif %}" required>

    <div class="mbt-10px"></div>

    <label for="weight">Weight (grams)</label>
    <input type="number" step="any" id="weight" name="weight" value="{% if dish %}{{ dish.weight }}{% endif %}" required>

    <div class="mbt-10px"></div>

    <label for="price">Price (USD)</label>
    <input type="number" step="0.01" id="price" name="price" value="{% if dish %}{{ dish.price }}{% endif %}" required>

    <div class="mbt-10px"></div>

    <button class="floating-button" type="submit">{% if dish %}Save Changes{% else %}Create Dish{% endif %}</button>
</form>

<a class="floating-button" href="{% url 'dish_list' %}">Cancel</a>
{% endblock %}
