{% extends 'base.html' %}

{% block title %}Recipe Detail{% endblock %}

{% block content %}
<h1>Recipe for {{ recipe.dish.name }}</h1>
<p><strong>Dish Name:</strong> {{ recipe.dish.name }}</p>
<p><strong>Cooking Time:</strong> {{ recipe.time }} minutes</p>
<p><strong>Cooking Technology:</strong> {{ recipe.technology }}</p>

<!-- Actions -->
<div>
    <a class="floating-button" href="{% url 'recipe_edit' recipe.id %}">Edit</a> |
    <a class="floating-button" href="{% url 'recipe_delete' recipe.id %}">Delete</a>
</div>

{% endblock %}
